<link rel="stylesheet" href="/css/panels/karfarma.css">
<div class="pos-f-t">
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <form class="form-inline search" style="position: relative;">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
        </form>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i>
            </button>
            <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item " href="#"> <i class="icon_profile fa fa-heart "></i></a>
                <a class="dropdown-item " href="#"> <i class="icon_profile fa fa-user"></i></a>
                <a class="dropdown-item " href="#"> <i class="icon_profile fa fa-power-off"></i></a>
            </div>
        </div>
    </nav>

    <div class="collapse rigth_wall" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <div id="accordion">
                <div class="card panel_dash">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <div class="spinner-grow text-warning"></div>
                                <a class="a_panel" style="text-decoration: none;" >داشبورد</a>
                      </button>
                        </h5>
                    </div>
                </div>
                <div class="card panel_dash">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        اطلاعات کسب و کارها
                      </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            1
                            <br> 2
                        </div>
                    </div>
                </div>
                <div class="card panel_dash">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsethree" aria-expanded="false" aria-controls="collapseTwo">
                        اطلاعات کسب و کارها
                      </button>
                        </h5>
                    </div>
                    <div id="collapsethree" class="collapse" aria-labelledby="headingthree" data-parent="#accordion">
                        <div class="card-body">
                            1
                            <br> 2
                        </div>
                    </div>
                </div>
                <div class="card panel_dash">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                        اطلاعات کسب و کارها
                      </button>
                        </h5>
                    </div>
                    <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
                        <div class="card-body">
                            1
                            <br> 2
                        </div>
                    </div>
                </div>
                <div class="card panel_dash">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                        اطلاعات کسب و کارها
                      </button>
                        </h5>
                    </div>
                    <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
                        <div class="card-body">
                            1
                            <br> 2
                        </div>
                    </div>
                </div>
                <div class="card panel_dash">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                        اطلاعات کسب و کارها
                      </button>
                        </h5>
                    </div>
                    <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordion">
                        <div class="card-body">
                            1
                            <br> 2
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>