<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-color: purple;
    }
    img {
    width: 50%;
    background-image: url(/img/erro404.png);
    margin-left: 9cm;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 23px;
        
}
</style>
<body>
    <img src="/img/erro404.png" alt="/img/erro404.png" srcset="/img/erro404.png">
</body>
</html>