<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/Bootstrab.ejs') -%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>کارفرما</title>
</head>
<body>
    <h1>کارفرما </h1>
</body>
</html>